body{

    

    background-color:skyblue;

}
#main1{
    display: grid;
    grid-template-areas: 
    'header header'
    'left right';
}
#header1{
    grid-area: header;
    background-color: cornsilk;
    color:darkblue;
    font-size: larger;
    font-weight: bold;
}
#left1{
    grid-area: left;
    margin-right: 50px;
    margin-top: 50px;
    height: 440px;
    width:700px;
}
#left2{
    grid-area: left;
    margin-top: 50px;
    height: 440px;
    width:700px;
}
#left-img{
    height: 440px;
    width:700px;
}
#right1{
    grid-area: right;
    background-color: cornsilk;
    margin-top: 50px;
    text-align: center;
    margin-right: 100px;
}
h2{
    color: darkblue; 
}
h2:hover{
     cursor:default;
}
#button{
    background-color: skyblue;
    text-decoration: none;
    border: 1px solid blue ;
    border-radius: 8px;
    padding: 10px;
    color: darkblue;
}
#button:hover{
    border-width: 2px;
    opacity: 0.5;
}
.links{
    float: right;
    margin: 30px;
    text-decoration: none;
    color: darkblue;
}
.links:hover{
    color: green;
}
#form{
    color: blue;
    grid-area: main-form;
    width: 100%;
    height: 100%;
}
#welcome{
    grid-area: welcome;
    height: 100px;
}