body{
    background-color:skyblue;
}
#info{
    display: grid;
    grid-template-areas: 
    'header'
    'middle'
    'main';   
}
#header3{
    grid-area: header;
    background-color: cornsilk;
    color:darkblue;
    font-size: larger;
    font-weight: bold;
}
.links{
    float: right;
    margin: 30px;
    text-decoration: none;
    color: darkblue;
}
.links:hover{
    color: green;
}
#middle3{
    grid-area: middle;
    color: darkblue;
    padding: 30px;
    margin-top: 50px;
    background-color: cornsilk;
}
#main3{
    grid-area: main;
    background-color: cornsilk;
    padding: 30px;
}
.left-links{
    list-style: none;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    margin: 30px;
    color: darkblue;
}
.left-links:hover{
    color: green;
}
h2{
    padding-left: 30px;
}