body{
    background-color:skyblue;
}
#main{
    display: grid;
    grid-template-areas: 
    'header header'
    'left right';
}
#header{
    grid-area: header;
    background-color: cornsilk;
    color:darkblue;
    font-size: larger;
    font-weight: bold;
}
#left{
    grid-area: left;
    background-color: cornsilk;
    display: grid;
    grid-template-areas: 
    'welcome'
    'investor'
    'manager';
    align-content: space-around;
    text-align: center;
    margin-right: 50px;
    margin-top: 50px;
    width: 400px;
}
#welcome{
    padding: 10px;
    grid-area: welcome;
}
#investor{
    padding: 10px;
    grid-area: investor;
}
#manager{
    padding: 10px;
    grid-area: manager;
}
#right{
    grid-area: right;
    margin-top: 50px;
}
h2{
    color: darkblue; 
}
h2:hover{
     cursor:default;
}
#signin{
    text-decoration: none;
    color:darkgreen;
}
#signin:hover{
    font-weight: bold;
}
#button{
    background-color: skyblue;
    text-decoration: none;
    border: 1px solid blue ;
    border-radius: 8px;
    padding: 10px;
    color: darkblue;
}
#button:hover{
    border-width: 2px;
    opacity: 0.5;
}
.links{
    float: right;
    margin: 30px;
    text-decoration: none;
    color: darkblue;
}
.links:hover{
    color: green;
}