body{
    background-color:beige;
}
#main{
    background-color:cornsilk;
    border: 1px blue solid;
    width:40%;
    padding: 25px;
    margin-left: 30%;
    margin-top: 5%;
    text-align: center;
}
h2{
    color: darkblue; 
 }
 h2:hover{
     cursor:default;
 }
#button{
    background-color: skyblue;
    text-decoration: none;
    border: 1px solid blue ;
    border-radius: 8px;
    padding: 10px;
    color: darkblue;
}
#button:hover{
    border-width: 2px;
    opacity: 0.5;
}
input:focus{
    border: solid blue;
}
#form{
    color: blue;
}